@import '../../styles/utils/colors.scss';

.dropdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-size: 18px;
  line-height: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  &__label {
    padding: 0;
    margin: 0;
  }

  &__selected {
    background-color: $dark-blue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    width: 10px;
    height: 10px;
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__select {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    width: 100%;
    flex-direction: column;
    display: none;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    z-index: 100;
    background-color: black;

    &_open {
      display: flex;
    }
  }

  &__option {
    height: 100%;
    width: 100%;
    // background-color: $dark-blue;
    color: white;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 2px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid $red;
    border-radius: 5px;
    // background-color: black;
  }
}
