@import '../../styles/utils/colors.scss';

.dropdown {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 18px;
  line-height: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__label {
    padding: 0;
    margin: 0;
  }

  &__selected {
    background-color: inherit;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    width: 10px;
    height: 10px;
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__select {
    position: relative;
    min-width: 50%;
    padding: 0;
    margin: 13px 0 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    z-index: 100;
    background-color: $dark-blue;
    box-shadow: 0 0 5px 1px black;
    box-sizing: border-box;
    transition: 0.2s linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);

    &_open {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    &::after {
      position: absolute;
      top: -7px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 3px solid transparent;
      border-bottom: 8px solid black;
      content: '';
      display: block;
      z-index: 2;
    }
  }

  &__option {
    height: 100%;
    width: 100%;
    background-color: $dark-blue;
    border: none;
    color: white;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 5px 10px 3px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    transition: 0.2s linear;

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 1px white;  
    }
  }
}

@media (max-width: 525px) {
  .dropdown {
    font-size: 16px;
    line-height: 18px;

    &__wrapper {
      gap: 15px;
    }
  }
}