@import '../../../styles/utils/colors.scss';

.toggle-button {
  display: flex;
  column-gap: 15px;

  &__radio {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding-bottom: 5px;
  }

  &__radio:checked + &__label {
    border-bottom: 2px solid $red;
  }
}