.toggle-button {
  display: flex;
  column-gap: 15px;

  &__radio {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }

  &__radio:checked + &__label {
    color: white;
    color: #C3073F;
  }
}