.header {
  background-color: #C3073F;
  height: 60px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/F1-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 30px;
}

.header__container {
  max-width: 1270px;
  margin: 0 auto;
}