.schedule {
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  grid-area: 1 / 3 / 3 / 4;
  padding: 15px;
  box-sizing: border-box;
  max-width: 500px;

  &__title {
    margin: 0;
    padding: 0;
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
