@import '../../styles/utils/colors.scss';

@keyframes shine {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: -100%;
  }
}

%background {
  animation: 1.5s shine linear infinite;
  background-color: #0F0F0F;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(93, 93, 93, 0.522) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #0F0F0F;
  background-size: 200% 100%;
  background-position-x: 180%;
}

.placeholder {
  &-rect {
    height: 100%;
    @extend %background;
  }

  &-circle {
    border-radius: 50%;
    @extend %background;
  }
}

.placeholder-man {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // padding: 10px 10px 0;
  box-sizing: border-box;
}

.placeholder-man::before,
.placeholder-man::after {
  content: "";
  @extend %background;
}
.placeholder-man::before {
  width: 50%;
  height: 50%;
  border-radius: 100%;
}
.placeholder-man::after {
  width: 100%;
  height: 40%;
  border-radius: 100% 100% 0% 0%;
}