.drivers-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.driver {
  border-radius: 3px 3px 15px 3px;
  margin: 0;
  padding: 5px 0 0;
  display: grid;
  grid-template-columns: 0.4fr 1.65fr 0.5fr 0.4fr 1.5fr 1fr;
  gap: 15px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-shadow: 0 0 5px black;
  list-style: none;
  padding: 5px 0;
  text-overflow: ellipsis;
  opacity: 1;
  transition: opacity 0.2s ease;
  box-sizing: border-box;

  &:not(:first-child) {
    cursor: pointer;
  }

  &:hover:not(:first-child) {
    opacity: 0.7;
  }

  &_head {
    font-weight: 500;
    background-color: black;
    color: #fff;
  }

  &__flag {
    width: 25px;
    height: 18px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px black;
    object-fit: cover;
  }
}

@media (max-width: 1150px) {
  .driver {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 485px) {
  .driver {
    grid-template-columns: 0.4fr 1.65fr 0.5fr 0.4fr 1fr;
    grid-template-rows: 1fr;

    &__param {
      &_team {
        display: none;
      }
    }
  }
}

@media (max-width: 375px) {
  .driver {
    &__flag {
      width: 20px;
      height: 15px;
    }
  }
}