@import '../../styles/utils/colors.scss';

.session {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &_qualifying {
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px black;
    color: $red;
  }

  &_sprint {
    color: rgb(11, 199, 36);
  }

  &_race {
    color: $red;
    font-weight: 500;
  } 

  &__title {
    margin: 0;
  }

  &__date {
    margin: 0;
    text-align: right;
  }

  &__time {
    margin: 0;
    text-align: right;
  }
}