.weekend-results {
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.result__param {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .weekend-results {
    min-width: 320px;
  }
}