@import '../../styles/utils/colors.scss';

.popup {
  min-height: 100%;
  height: 100vh;
  width: 100%;
  padding: 10px 10px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity .1s linear;
  color: white;
  box-sizing: border-box;

  &_open {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px $red;
  }

  &__close-button {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    padding: 0;
    cursor: pointer;
    z-index: 100;
    background-image: url(../../images/arrow.svg);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: inherit;
  }
}
