@import '../../styles/utils/colors.scss';

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity .1s linear;

  &_open {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    position: relative;
    background-color: black;
    color: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px $red;
    border-radius: 10px;
  }

  &__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    padding: 0;
    cursor: pointer;
    z-index: 100;
    background-image: url(../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: inherit;
  }
}