@import './vendors/normalize';
@import './vendors/fonts';
@import './utils/colors';
@import './utils/mixins';
@import './utils/teams';

.page {
  background-color: $dark-blue;
  font-family: 'Inter', sans-serif;
  min-width: 320px;
}

.root {
  display: flex;
  flex-direction: column;
}

.text_center {
  text-align: center;
}