@import './vendors/normalize';
@import './vendors/fonts';
@import './utils/colors';
@import './utils/mixins';
@import './utils/teams';

.page {
  background-color: $dark-blue;
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

.text_center {
  text-align: center;
}