.schedule {
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  grid-area: 1 / 3 / 3 / 4;
  padding: 15px;
  box-sizing: border-box;
}

.schedule__title {
  margin: 0;
  padding: 0;
}

.schedule__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}