.weekend {
  /* margin: 10px 0 0; */
  display: block;
}

.weekend__time {
  margin: 0;
  font-size: 14px;
}

.weekend__race {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px 5px 0 0;
  position: relative;
  cursor: pointer;
  transition: linear 0.2s;
  box-shadow: inset 1px 1px 2px black;
}

.weekend__race:hover {
	background: #000;
	/* box-shadow: 0 0 0 3px #000; */
}

.weekend__race-title {
  padding: 10px;
  margin: 0;
}

.weekend__race-date {
  width: 50%;
  background-color: #940a26;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px 5px 0 5px;
  box-shadow: inset 1px 1px 2px black;
}

.weekend__qualifying {
  background-color: #A8122F;
  border-radius: 0 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  box-shadow: inset 1px 1px 2px black;
}

.weekend__practice {
  padding: 10px;
}

.weekend__practice:first-child {
  box-shadow: inset 1px 1px 2px black;
}

.weekend__practice-title {
  margin: 0 0 10px;
}

.weekend__date {
  margin: 0;
  font-size: 14px;
}

.weekend__accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1A1A1A;
  border-radius: 0 0 10px 10px;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: inset 1px 1px 5px black;
  transition: 0.4s ease;
}

.weekend__accordion_opened {
  max-height: 80px;
  opacity: 1;
}
