.main {
  width: 100%;
  margin: 0;
  padding: 25px 30px;
  box-sizing: border-box;
  display: flex;
  // position: relative;
  flex-direction: column;
  align-items: center;
  cursor: crosshair;

  &__wrapper {
    width: 100%;
    max-width: 1270px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 25px 20px;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 25px 15px;
  }
}