@import '../../styles/utils/colors.scss';
@import '../../styles/utils/breakpoints.scss';

.main {
  width: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: none;

  &__wrapper {
    width: 100%;
    max-width: 1270px;
    padding: 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .main {
    &__wrapper {
      padding: 0 20px;
    }
  }
}

@media (max-width: $mobile) {
  .main {
    padding-bottom: 50px;

    &__wrapper {
      padding: 0 10px;
    }
  }
}