.weekend-info {
  height: 100%;
  background-color: black;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  display: flex;
  // grid-template-rows: 20px 300px 1fr;
  flex-direction: column;
  padding: 20px;
  gap: 15px;

  &__header {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__image {
    width: 250px;
    height: 150px;
    align-self: center;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    object-fit: contain;
    transition: 0.2s ease;
  }

  &__circuit-name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  &__circuit-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__circuit-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
  }

  &__dates {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .weekend-info {
    display: none;
  }
}