.weekend-info {
  height: 100%;
  min-height: 250px;
  background-color: black;
  border-radius: 10px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  box-sizing: border-box;
  cursor: auto;

  &__header {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &__wrapper {
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__image {
    width: 100%;
    height: 150px;
    max-width: 280px;
    align-self: center;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    object-fit: contain;
    transition: 0.2s ease;
  }

  &__circuit-name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  &__circuit-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__circuit-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
  }

  &__sessions {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}


@media (max-width: 605px) {
  .weekend-info {
    width: 100%;
    padding: 0;
  }
}