.weekend-info {
  background-color: black;
  display: flex;
  // grid-template-rows: 20px 300px 1fr;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

  &__header {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &__image {
    width: 250px;
    height: 150px;
    align-self: center;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    object-fit: contain;
    transition: 0.2s ease;
  }

  &__dates {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}