@import '../../styles/utils/colors.scss';

.weekend {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  overflow: hidden;

  &__date {
    margin: 0;
  }

  &__time {
    margin: 0;
  }

  &__race {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 155px;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: ease 0.2s;
    box-shadow: inset 1px 1px 2px black;
    opacity: 1;

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px #fff;
    }

    &:hover {
      opacity: 0.7;
      // transform: scale(1.05);
    }

    &-image {
      width: 130px;
      height: 100px;
      padding: 10px 0;
      box-sizing: border-box;
      object-fit: fill;
      align-self: center;
    }

    
    &-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    // &-over {
    //   min-width: 25px;
    //   height: 14.5px;
    //   margin: 10px;
    //   background-image: url(../../images/finish-flag.svg);
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   border: 1px solid rgb(158, 153, 153);
    //   transition: 0.2s ease;

    //   &:hover {
    //     transform: scale(1.15);
    //   }
    // }

    &_active {
      // background-color: #940a26;
    }

    &-title {
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }

    &-subtitle {
      margin: 0;
      padding: 0;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

    &-finished {
      margin: 0;
      padding: 0;
      color: $grey;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    &-date {
      display: flex;
      justify-content: space-between;
      border-radius: 5px 5px 0 5px;
      box-shadow: inset 1px 1px 2px black;
      color: $red;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }

  // &__sessions {
  //   max-height: 160px;
  //   max-width: 0;
  //   opacity: 0;
  //   list-style: none;
  //   margin: 0;
  //   padding: 0;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   background-color: #1A1A1A;
  //   border-radius: 0 0 10px 10px;
  //   color: #fff;
  //   box-sizing: border-box;
  //   font-size: 16px;
  //   box-shadow: inset 1px 1px 5px black;
  //   transition: 0.4s ease;
  
  //   &_active {
  //     // max-height: 80px;
  //     max-width: 150px;
  //     margin-bottom: 10px;
  //     opacity: 1;
  //   }
  // }
}

@media (max-width: 1150px) {
  .weekend {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .weekend{
    &__race-date {
      font-size: 12px;
      line-height: 14px;
    }
  }
}