$alfa: #990100;
$alphatauri: #2D66DA;
$alpine: #FFF500;
$aston-martin: #00594f;
$ferrari: #FE0000;
$haas: #656565;
$mclaren: #FF8700;
$mercedes: #01D2BD;
$red-bull: #1514DC;
$williams: #0A0F6D;
$racing-point: #F395C7;

$red: #FF0000;
$grey: #888888;
$dark-blue: #15151E;