@import '../../styles/utils/breakpoints.scss';

.results-list {
  width: 100%;
  min-width: 250px;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: $mobile) {
  .results-list {
    gap: 7px
  }
}

.race-result {
  display: grid;
  width: 100%;
  grid-template-columns: 25px 40px 25px 100px 95px;
  gap: 20px;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 0 0 5px black;
  border-radius: 3px 3px 15px 3px;
  padding: 2px;
}

@media (max-width: $desktop) {
  .race-result {
    font-size: 12px;
    line-height: 14px;
    grid-template-columns: 25px 35px 25px 80px 80px;
  }
}

@media (max-width: $mobile) {
  .race-result {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr;
    font-size: 14px;
    line-height: 16px;
  }
}