.race-result {
  display: grid;
  width: 100%;
  grid-template-columns: 25px 40px 25px 100px 95px;
  gap: 20px;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 0 0 5px black;
  border-radius: 3px 3px 15px 3px;
  padding: 2px;
}

@media (max-width: 1024px) {
  .race-result {
    font-size: 12px;
    line-height: 14px;
    grid-template-columns: 25px 35px 25px 80px 80px;
  }
}