@import '../../styles/utils/breakpoints.scss';

.results-list {
  width: 100%;
  min-width: 250px;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: $mobile) {
  .results-list {
    gap: 7px
  }
}