@keyframes preloader-sides {
    0% {
        transform: skewX(-20deg) translateY(100%);
    }
    100% {
        transform: skewX(-20deg) translateY(-100%);
    }
}

@keyframes preloader-middle {
    0% {
        transform: skewX(-20deg) translateY(-100%);
    }
    100% {
        transform: skewX(-20deg) translateY(100%);
    }
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin: auto;

    &__container {
        width: 100px;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        overflow: hidden;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.26);
        box-shadow: 0 0 3px black;

        &::after,
        &::before {
            content: '';
            width: 25px;
            height: 100px;
            background-color: #ff0000;
            transform: skewX(-20deg) translateY(-100%);
            animation: preloader-sides 1s linear infinite;
        }
        &::after {
            transform: skewX(-20deg) translateY(100%);
            animation-delay: 0.5s;
        }
    }

    &__middle {
        width: 25px;
        height: 100px;
        background-color: #ff0000;
        transform: skewX(-20deg) translateY(100%);
        animation: preloader-middle 1s 0.25s linear infinite;
    }
}
