@import '../../styles/utils/colors.scss';

.standing {
  padding: 25px 0 0;
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  color: white;
  gap: 20px;
  cursor: auto;
  background-color: $dark-blue;

  &__wrapper {
    width: 100%;
    max-width: 600px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
  }

  &__container {
    max-width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  &__header {
    text-align: center;
    margin: 0;
    padding: 0 0 5px;
  }

  &__navigation {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background-color: inherit;
    border: none;
    text-align: center;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 0 0 5px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;

    &:hover {
      // background-color: black;
      box-shadow: inset 0 0 25px black;
    }
  }

  &__swiper-buttons {
    display: flex;
    gap: 20px;
  }
}

.swiper-button-disabled {
  border-bottom: 2px solid $red;
}

@media (max-width: 768px) {
  .standing {
    &__wrapper {
      gap: 15px;
    }
    &__container {
      padding: 10px;
    }
  }
}

@media (max-width: 525px) {
  .standing {
    &__button {
      font-size: 16px;
      line-height: 18px;
    }

    &__navigation {
      flex-direction: column;
      align-items: center;
      gap: 10px
    }

    &__swiper-buttons {
      gap: 15px;
    }
  }
}