@import '../../styles/utils/colors.scss';

.standing {
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  height: 100%;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  box-sizing: border-box;
  color: white;
  gap: 15px;

  &__wrapper {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__container {
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  &__header {
    text-align: center;
    margin: 0;
    padding: 0 0 5px;
  }

  &__navigation {
    display: flex;
    gap: 15px;
  }

  &__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background-color: inherit;
    border: none;
    text-align: center;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 0 0 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
  }
}

.swiper-button-disabled {
  border-bottom: 2px solid $red;
}

@media (max-width: 500px) {
  .standing {
    &__wrapper {
      padding: 10px;
    }
  }
}
