.standing {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &__header {
    text-align: center;
    margin: 0;
    padding: 0 0 5px;
  }

  &__wrapper {
    min-height: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
  }
}
