.main {
  max-width: 1600px;
  padding: 0 30px;
  margin: 30px auto;
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: 0.5fr minmax(400px, 700px) minmax(200px, 1fr); 
  grid-template-rows: 1fr 10fr; 
  gap: 15px 15px; */
  display: flex;
}