.team_alfa {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#990100 100%);
}

.team_alphatauri {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#2D66DA 100%);
}

.team_alpine {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#FFF500 130%);
}

.team_aston_martin {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#00594f 100%);
}

.team_ferrari {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#FE0000 100%);
}

.team_haas {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#656565 100%);
}

.team_mclaren {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#FF8700 100%);
}

.team_mercedes {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#01D2BD 100%);
}

.team_red_bull {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#1514DC 100%);
}

.team_williams {
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,#0A0F6D 100%);
}