@import '../../styles/utils/colors.scss';

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  box-shadow: 0 0 1px 2px #808080;
  box-sizing: border-box;

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  &__link {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 3px solid $red;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &_schedule {
      background-image: url(../../images/schedule-icon.svg);
    }
    &_standing {
      background-image: url(../../images/standing-icon.svg);
    }
  }
}