.table {
  border-spacing: 0 5px;

  &__head {
    width: 100%;
    border: none;
  }
  &__body {
    width: 100%;
    border: none;
  }
  &__row {
    width: 100%;
    // border-radius: 0 3px 15px 0;
    // border: 2px solid black;
    overflow: hidden;
  }
  &__cell {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;

    &_type {
      &_last {
        border-radius: 0 3px 15px 0;
      }
      &_nationality {
        width: 75px;
      }
    }
  }
}

@media (max-width: 550px) {
  .table {
    &__cell {
      // font-size: 12px;
      // line-height: 14px;

      &_type {
        &_team {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 415px) {
  .table {
    &__cell {
      // font-size: 12px;
      // line-height: 14px;

      &_type {
        &_nationality {
          width: 50px
        }
      }
    }
  }
}