.stats {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 15px;
  box-sizing: border-box;
  max-width: 650px;
  color: #fff;
  /* grid-area: 1 / 2 / 3 / 3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  &__header {
    text-align: center;
    margin: 0;
    padding: 0 0 5px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 5px;
  }
}
