@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page.css);

@import url(./blocks/header.css);
@import url(./blocks/main.css);
@import url(./blocks/menu.css);
@import url(./blocks/stats.css);
@import url(./blocks/team.css);
@import url(./blocks/driver.css);
@import url(./blocks/schedule.css);
@import url(./blocks/weekend.css);

@import url(./blocks/text.css);