.driver-info {
  width: 100%;
  min-width: 250px;
  height: 100%;
  background-color: black;

  &__wrapper {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    position: sticky;
    top: 20px;
  }

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
  }

  &__header {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 1px
  }

  &__race-results {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__param {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }

  &__param-state {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50%;
  }

  &__flag {
    width: 20px;
    height: 10px;
    margin-right: 5px;
  }
}