@keyframes tire-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -55%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes tire-stop {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  cursor: none;
  background: linear-gradient(#0F0F0F 10%, #2f2f30 50%, #0F0F0F 90%);
}

.cursor {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  transform: translate(-50%, -55%);

  &__point {
    width: 5px;
    height: 5px;
  }
}

.cursor-follower {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: -100;
  transform: translate(-50%, -50%);
  background-image: url(../../images/tire.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: none;
}